
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1500px) {
  
  .bloco1 {
  left: 25%;
  grid-template-columns: 100px 300px 100px;
  grid-template-rows: 80px 150px;
  }
  .bloco2 {
    right: 20%;
    grid-template-columns: 100px 300px 100px;
    grid-template-rows: 80px 150px;
  }
  .bloco3 {
    left: 16%;
  }

  .lead_left h3 {
    font-size: 1.5em;
  }

  .lead_left {
    padding: 10px 0 15px 0;
  }

  .p_bloco1 {
    font-size: 1.3em;
    line-height: 1.4em;
  }
  
  .bloco_p1 {
  top: 10px;
  right: 10px;
  }

  .lead_right h3 {
  font-size: 1.5em;
  }

  .lead_right {
    padding: 10px 0 15px 0;
  }

  .bloco_p2 {
    top: 10px;
    left: 10px;
  }

  .p_bloco2 {
    font-size: 1.3em;
    line-height: 1.4em;
  }

  .bloco3 {
    grid-template-columns: 100px 300px 100px;
    grid-template-rows: 80px 150px;
  }

  .lead_left1 h3 {
    font-size: 1.5em;
  }

  .lead_left1 {
    padding: 10px 0 15px 0;
  }

  .bloco_p3{
    top: 10px;
    left: 10px;
  }

  .p_bloco3 {
    font-size: 1.3em;
    line-height: 1.4em;
  }

  .text_video {
  font-size: 1.4em;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {


  .section2 {
    grid-gap: 83px;
    padding: 100px 60px 70px 60px;
    position: relative;
    display: grid;
    grid-template-columns: 400px auto;
  }

  .texto_logo2 {
  font-size: 1.2em;
  }
  
  .bloco1 {
    left: 10%;
  }
  .bloco2 {
    right: 10%;
  }
  .bloco3 {
    left: 3%;
  }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .section2 {
    grid-gap: 83px;
    padding: 100px 60px 70px 60px;
    position: relative;
    display: grid;
    grid-template-columns: 300px auto;
  }

  .texto_logo2 {
  font-size: 1.1em;
  }

    .bloco1 {
    left: 5%;
  }
  .bloco2 {
    right: 5%;
  }
  .bloco3 {
    left: 3%;
  }
  .section3 h1 {
  font-size: 2.3em;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  

  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  

  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  

  
}